@use '../../includes/colors' as colors;
@use '../../includes/typography' as fonts;
@use '../../includes/variables' as vars;

.heading {
  background-color: colors.$black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  .hero-section {
    min-width: 40%;
    .hero-title a {
      color: colors.$white;
      transition: vars.$trs-02;
      padding: 0.5rem 0.75rem;
      border-radius: 3rem;
      &:hover {
        background-color: colors.$firstColor;
        color: colors.$darkerGrey;
      }
    } 
  }
}

.navigation {
  min-width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .nav-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: colors.$white;
  }
  .nav-icon {
    vertical-align: middle;
  }  
}

.nav-item {
  padding: 0.25rem 0.5rem;
  .nav-link {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    color: colors.$white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.5rem 0.5rem;
    border-radius: 3rem;
    transition: 0.2s linear all;
    &:hover {
      color: colors.$darkerGrey;
      background-color: colors.$firstColor;
    }
    &:focus {
      color: colors.$secondColor;
    }
  }
}

/*---------- to 480px ----------*/

@media all and (max-width: 480px) {
  .navigation .nav-list {
    .nav-item {
      width: 75%;
    }
  }
}

/*---------- from 481 to 639px ----------*/

@media all and (min-width: 481px) and (max-width: 639px) {
  .navigation .nav-list {
    .nav-item {
      width: 60%;
    }
  }
}

/*---------- from 640 to 767px ----------*/

@media all and (min-width: 640px) and (max-width: 767px) {
  .navigation .nav-list {
    .nav-item {
      width: 45%;
    }
  }
}

/*---------- from 768 to 959px ----------*/

@media all and (min-width: 768px) and (max-width: 959px) {
  .navigation .nav-list {
    .nav-item {
      width: 35%;
    }
  }
}

/*---------- to 959px ----------*/

@media all and (max-width: 959px) {

  .heading {
    flex-direction: column;
    justify-content: space-evenly;
    .hero-section {
      display: flex;
      justify-content: center;
      align-items: center;
      .hero-title {
        text-align: center;
        margin-bottom: 1rem;
      }
    }
  }

  .navigation .nav-list {
    width: 100%;
    flex-direction: column;
    .nav-item {
      font-size: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      a {
        font-size: 1.2rem;
        letter-spacing: 0.15rem;
      }
    }
  }

  /*----- Burger menu -----*/

  #open-menu, #close-menu {
    color: colors.$white;
    background-color: unset;
  }

  .open-menu-icon, .close-menu-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .open-menu-visible {
    display: block;
  }

  .open-menu-hidden {
    display: none;
  }

  .close-button-visible {
    display: block;
  }
  .close-button-hidden {
    display: none;
  }

  .navigation {
    position: relative;
    .menu {
      height: 15rem;
      display: flex;
      flex-direction: column;
      top: 100%;
      left: 0;
      width: 100%;
      // background: white; // Change as needed
      transition: 0.3s linear all;
      opacity: 1;
      transform: translateY(0);
      .nav-item {
        height: 100%;
        transform: rotateX(0deg);
        transition: 0.3s linear all;
      }
    }
  }

  .navigation .menu-hidden {
    height: 0rem;
    opacity: 0;
    transform: translateY(-20px);
    transition: 0.3s linear all;
    pointer-events: none; // Prevent clicks when hidden
    .nav-item {
      height: 0rem;
      transform: rotateX(90deg);
      transition: 0.3s linear all;
    }
  }

}

/*---------- from 960px ----------*/

@media all and (min-width: 960px) {
  #open-menu, #close-menu {
    display: none;
  }
}