---
import WebAppProjects from "./WebAppProjects.astro"
import WebsitesProjects from "./WebsitesProjects.astro"
import BackendProjects from "./BackendProjects.astro"
---


<section class='portfolio-wrapper wrapper' id='portfolio-wrapper'>
  <h2 class='portfolio-title text-white'>
    Portfolio
  </h2>
  <hr class='breakline' />
  <section class="portfolio-section">
    <h3 class='projects-title'>
      Web App Projects
    </h3>
    <WebAppProjects />
  </section>
  <section class="portfolio-section">
    <h3 class='projects-title'>
      Frontend Projects
    </h3>
    <WebsitesProjects />
  </section>
  <section class="portfolio-section">
    <h3 class='projects-title'>
      Backend Projects
    </h3>
    <BackendProjects />
  </section>
</section>