---
import FrontendSkills from "./FrontendSkills.astro"
import BackendSkills from "./BackendSkills.astro"
import AdditionalSkills from "./AdditionalSkills.astro"
---

<section class='skills-wrapper wrapper over-x' id='skills-wrapper'>
  <h2
    class='subtitle text-white'
    data-aos="fade-down"
    data-aos-duration="1000"
  >
    Skills
  </h2>
  <hr class='breakline' data-aos="zoom-in" data-aos-duration="1500" />
  <section class='skills-section'>
    <FrontendSkills />
    <BackendSkills />
    <AdditionalSkills />
  </section>
</section>