---
import FrontendSkills from "./FrontendSkills.astro"
import BackendSkills from "./BackendSkills.astro"
import AdditionalSkills from "./AdditionalSkills.astro"
---

<section class='skills-wrapper wrapper over-x' id='skills-wrapper'>
  <h2
    class='subtitle text-white skills-section-title'
  >
    Skills
  </h2>
  <hr class='breakline' />
  <section class='skills-section'>
    <FrontendSkills />
    <BackendSkills />
    <AdditionalSkills />
  </section>
</section>