---
import House from "@lucide/astro/icons/house"
import BriefcaseBusiness from "@lucide/astro/icons/briefcase-business"
import PencilRuler from "@lucide/astro/icons/pencil-ruler"
import IdCard from "@lucide/astro/icons/id-card"
import Mails from "@lucide/astro/icons/mails"
import Menu from "@lucide/astro/icons/menu"
import CircleX from "@lucide/astro/icons/circle-x"
---

<header class='heading'>
  <section class='hero-section'>
    <h1 class='hero-title'>
      <a href='#portfolio-wrapper'>{'<'}MartinXCVI {'/>'}</a>
    </h1>
  </section>
  <nav class='navigation'>
    <!-- Open menu -->
    <button id="open-menu" class="open-button-visible" aria-label="Open menu" aria-expanded="false">
      <Menu class="open-menu-icon" />
    </button>
    <!-- Close menu -->
    <button id="close-menu" class="close-button-hidden" aria-label="Close menu" aria-expanded="false">
      <CircleX class="close-menu-icon" />
    </button>
    <!-- Navigation -->
    <ul class='nav-list menu-hidden'>
      <li class='nav-item'>
        <a class="nav-link" href='#home-wrapper'><House /> Home</a>
      </li>
      <li class='nav-item'>
        <a class="nav-link" href='#portfolio-wrapper'><BriefcaseBusiness class='nav-icon' /> Portfolio</a>
      </li>
      <li class='nav-item'>
        <a class="nav-link" href='#skills-wrapper'><PencilRuler/> Skills</a>
      </li>
      <li class='nav-item'>
        <a class="nav-link" href='#about-wrapper'><IdCard class='nav-icon' /> About</a>
      </li>
      <li class='nav-item'>
        <a class="nav-link" href='#contact-wrapper'><Mails class='nav-icon' /> Contact</a>
      </li>
    </ul>
  </nav>
</header>