---
import ContactCard from "./ContactCard.astro"
import ContactForm from "./ContactForm.astro"
---

<section class="contact-section wrapper" id='contact-wrapper'>
  <ContactCard />
  <ContactForm />
</section>