@use '../../includes/colors' as colors;
@use '../../includes/typography' as fonts;
@use '../../includes/variables' as vars;
@use '../../includes/mixins' as mx;

.portfolio-wrapper {
  @include mx.flexColCenter();
  .portfolio-title {
    margin-bottom: 1rem;
  }
}

.portfolio-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  .projects-title {
    font-family: fonts.$ubuntuMono;
    font-weight: 500;
    color: colors.$white;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
  }
}

.portfolio-projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/*---------- to 480px ----------*/

@media all and (max-width: 480px) {

  .portfolio-section {
    width: 90%;
  }
}

/*---------- to 480px ----------*/

@media all and (min-width: 481px) and (max-width: 767px) {

  .portfolio-section {
    width: 80%;
  }
}

@media all and (max-width: 767px) {

  .portfolio-projects {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 768px) {

  .portfolio-section {
  
    .projects-title {
      padding-left: 2rem;
    }
  }
}

@media all and (min-width: 768px) and (max-width: 959px) {

  .portfolio-projects {
    grid-template-columns: repeat(2, 1fr);
  }
}