---
import Github from "simple-icons-astro/Github"

import { siteConfig } from "../../config/site.config"

const { socials } = siteConfig
---

<div class='dev-signature-div'>
  <p class='dev-signature'>
    <span>© <span id="current-year"></span></span>
    <a
      class='dev-github'
      href={socials.github}
      target='_blank'
      rel='noopener noreferrer'
    >
      MartinXCVI <Github size={18} />
    </a> | All rights reserved
  </p>
</div>

<script>
  import { getCurrentYear } from "../../utils/getCurrentYear";

  const currentYear = document.getElementById("current-year")

  if(currentYear) currentYear.textContent = getCurrentYear().toString()
</script>