---
import '../css/styles.css'

import { siteConfig } from "../config/site.config"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--- Google fonts of Ubuntu {font-family: "Ubuntu Sans", sans-serif;} {font-family: "Ubuntu Condensed", sans-serif;} {font-family: "Ubuntu Sans Mono", monospace;} --->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
		<title>{siteConfig.site.siteName}</title>
	</head>
	<body>
		<slot />
		<script src="../utils/mobileMenu.ts"></script>
		<script src="../scripts/animations/init.animations.ts"></script>
	</body>
</html>
